* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1a202c;
  color: rgba(255, 255, 255, 0.92);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

select {
  padding: 0.25rem 0.75rem;
}

#username {
  padding: 0.5rem;
}
