@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

:root {
  --theme-white: rgba(255, 255, 255, 0.8);
  --theme-border: rgba(255, 255, 255, 0.5);
  --theme-dark-gray: rgb(26, 32, 44);
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--theme-dark-gray);
  color: var(--theme-white);
  font-family: roboto, sans-serif;
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.25rem 0;
}

button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  width: fit-content;
  max-width: 24rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

select {
  padding: 0.25rem 0.75rem;
}

blockquote {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.87;
  box-shadow: 1px 3px rgba(255, 255, 255, 0.1);
}

#root {
  padding: 1rem;
}

.search-params form {
  display: flex;
  flex-direction: column;
}

.search-params label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-params span {
  height: 1.5rem;
}

#username {
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

#preview-search-param {
  margin-bottom: 0.25rem;
  letter-spacing: 0.2px;
}

.card {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0.25px solid var(--theme-border);
  border-radius: 0.25rem;
}

.user-card {
  display: block;
  margin-top: 4rem;
  max-width: 24rem;
}

.avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.tweet-card {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0.25px solid var(--theme-border);
  border-radius: 0.25rem;
}

.tweet-card > * {
  margin-bottom: 1rem;
}
